{% extends 'persoCroissantBundle::base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}

<h3>Ajout d'utilisateur</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="input-form">
      {{ form_label(form.name, "Nom") }}
      {{ form_widget(form.name) }}
      <p>{{ form_errors(form.name) }}</p>
    </div>
    <div class="input-form">
      {{ form_label(form.email, "Email") }}
      {{ form_widget(form.email) }}
      <p>{{ form_errors(form.email) }}</p>
    </div>
    <div class="input-form">
      {{ form_label(form.birthday, "Date de Naissance") }}
      {{ form_widget(form.birthday) }}
      <p>{{ form_errors(form.birthday) }}</p>
    </div>
    <div class="input-form">
      {{ form_label(form.premium, "Premium") }}
      {{ form_widget(form.premium) }}
      <p>{{ form_errors(form.premium) }}</p>
    </div>
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}