<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Croissants{% endblock %}</title>
	<link href="{{ asset('bundles/persocroissant/css/style.css') }}" type="text/css" rel="stylesheet" media="all"  />

    </head>
    <body>
	<div id="header">
	    <p>Gestionnaire de Croissant</p>
	</div>

	<div id="global">
	    <div id="sidebar">
		{% block sidebar %}
		    <h3> {{ app.user.username }}</h3>
		    {% if app.user.id is defined %}
		    <p><a href="{{ path('_profil',{ id : app.user.id }) }}">Mon profil</a></p>
		    {% endif %}
		    <p><a href="{{ path('_historyList') }}">Historique</a></p>
		    <p><a href="{{ path('_userList') }}">Utilisateurs</a></p>
		    <p><a href="{{ path('_stats') }}">Statistique</a></p>
		    {% if app.user.id is defined %}
		    <p><a href="{{ path('_offer',{ id : app.user.id }) }}">Donation</a></p>
		    {% endif %}

		{% endblock %}
	    </div>

	    <div id="content">
	    {% block body %}{% endblock %}
	    </div>
	    <div class='clear'></div>
	</div>

	<div id="footer">
	    <p>© Kévin Vézier, CreativeData</p>
	</div>
</body>
</html>