<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login</title>
        <link rel="icon" type="image/jpeg" href="{{ asset('bundles/creativedatacroissant/images/croisant1.png') }}" />
        
	<link href="{{ asset('bundles/creativedatacroissant/css/style.css') }}" type="text/css" rel="stylesheet" media="all"  />
        <script src="{{ asset('bundles/creativedatacroissant/js/jquery-2.1.3.min.js') }}" ></script>
        <script src="{{ asset('bundles/creativedatacroissant/js/highcharts.js') }}" ></script>
        <script src="{{ asset('bundles/creativedatacroissant/js/script.js') }}" ></script>
        <style>
            #content{
                text-align: center; 
                margin-left: 0px;
            }
            
        </style>
    </head>
    <body>
	<div id="header">
	    <p>Gestionnaire de Croissants</p>
	</div>

	<div id="global">
	    
	    <div id="content">
	    <img class="logo_saagie" src="{{ asset('bundles/creativedatacroissant/images/saagie.png') }}" alt="Creative Data"/>
    <a href="/connect/google"><img src="{{ asset('bundles/creativedatacroissant/images/google.png') }}" alt="Creative Data"/></a>

	    </div>
	    <div class='clear'></div>
	</div>

	<div id="footer">
	    <p>© Kevin Vézier, Creative Data</p>
	</div>
</body>
</html>
